.content-row{
    padding: 20px;
    /* line-height: 20px; */
}

.container-type-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    
}

.container-type-1 img{
    border-radius: 10px;
    /* height:auto; */
}


.item-type-1{
    /* max-width: 400px; */
    
}

.item-type-1 s{
    color: red;
}
.price{
    color: var(--color-green);
    font-weight: 700;
}
.desc{
    color: var(--color-graylite);
}



.two-column-banner {
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    /* width: 100%;  */
}

.two-column-banner img{
    width: 100%;
    position: relative;
    min-width: 350px;
}
.banner001{
    position: relative;
}
.z {
    position: absolute;
    top: 0px;
    padding-left: 10px;
    /* z-index: 2; */
}





.container-type-2{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    gap: 20px;
    /* justify-items: left; */
    max-width: 3000px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    
}
.container-type-2 img{
    border-radius: 10px;
}


.item-type-2{
    width: 300px;
    
    
}

.item-type-2 s{
    color: red;
}



.container-type-3{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    /* justify-items: left; */
    /* max-width: 1000px; */
    width: 100%;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    justify-items: center;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    padding: 20px;
    
}